<center>
    <h1>DatatableTon</h1>
    ðŸ’¯ datatable exercises
    <br>
    <br>
    <a href='https://github.com/vopani/datatableton/blob/master/LICENSE'>
        <img src='https://img.shields.io/badge/license-Apache%202.0-blue.svg?logo=apache'>
    </a>
    <a href='https://github.com/vopani/datatableton'>
        <img src='https://img.shields.io/github/stars/vopani/datatableton?color=yellowgreen&logo=github'>
    </a>
    <a href='https://twitter.com/vopani'>
        <img src='https://img.shields.io/twitter/follow/vopani'>
    </a>
</center>

<center>
    This is Set 3: Data Selection (Exercises 21-30) of <b>DatatableTon</b>: <i>ðŸ’¯ datatable exercises</i>
    <br>
    You can find all the exercises and solutions on <a href="https://github.com/vopani/datatableton#exercises-">GitHub</a>
</center>

**Prerequisites**
* The `datatable` package should be upgraded to the latest version (or v1.0.0+).
* The sample dataset [datatableton_sample.csv](https://github.com/vopani/datatableton/blob/main/data/datatableton_sample.csv) will be used for the exercises.

In [1]:
!python3 -m pip install datatable --upgrade
!wget https://raw.githubusercontent.com/vopani/datatableton/main/data/datatableton_sample.csv

Requirement already satisfied: datatable in /opt/conda/lib/python3.7/site-packages (1.0.0)
WARNING: Running pip as root will break packages and permissions. You should install packages reliably by using venv: https://pip.pypa.io/warnings/venv
--2021-07-10 03:45:46--  https://raw.githubusercontent.com/vopani/datatableton/main/data/datatableton_sample.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 940 [text/plain]
Saving to: â€˜datatableton_sample.csvâ€™

datatableton_sample 100%[===================>]     940  --.-KB/s    in 0s

2021-07-10 03:45:46 (25.6 MB/s) - â€˜datatableton_sample.csvâ€™ saved [940/940]

In [2]:
import datatable as dt

data = dt.fread('datatableton_sample.csv')
data

**Exercise 21: Select the columns `user`, `product` and `quantity` from `data` and assign it to `data_upq` and select the `user` column from `data_upq` and assign it to `data_u`**

In [3]:
data_upq = data[:, ['user', 'product', 'quantity']]
data_upq

In [4]:
data_u = data_upq['user']
data_u

**Exercise 22: Select columns 2nd to 4th using indices from `data` and assign it to `data_c234`**

In [5]:
data_c234 = data[:, 1:4]
data_c234

**Exercise 23: Select all string columns from `data` and assign it to `data_str`**

In [6]:
data_str = data[:, str]
data_str

**Exercise 24: Select rows 4th and 1st from `data` and assign it to `data_r41`**

In [7]:
data_r41 = data[[3, 0], :]
data_r41

**Exercise 25: Select the element in the 4th row and 2nd column in `data` and assign it to `value_1` and select the 3rd element of `category` column in `data` and assign it to `value_2`**

In [8]:
value_1 = data[4, 3]
value_1

'Eggs'

In [9]:
value_2 = data[2, 'category']
value_2

'Fruit'

**Exercise 26: Select rows from `data` where `category` is `Fruit` and assign it to `data_fruit` and select rows from `data_fruit` where `product` is `Banana` and `quantity` is more than 1 and assign it to `data_multi_banana`**

In [10]:
data_fruit = data[dt.f.category == 'Fruit', :]
data_fruit

In [11]:
data_multi_banana = data_fruit[(dt.f.product == 'Banana') & (dt.f.quantity > 1), :]
data_multi_banana

**Exercise 27: Select columns from `data` that have no missing values and assign it to `data_nomissing_cols`**

In [12]:
data_nomissing_cols = data[:, [column.countna1() == 0 for column in data]]
data_nomissing_cols

**Exercise 28: Select rows from `data` that have no missing values and assign it to `data_nomissing_rows`**

In [13]:
data_nomissing_rows = data[dt.rowall(dt.f[:] != None), :]
data_nomissing_rows

**Exercise 29: Select unique rows from `data` and assign it to `data_unique` and select unique `product` from `data_unique` and assign it to `product_unique`**

In [14]:
data_unique = data[:1, :, dt.by(*data.names)]
data_unique

In [15]:
product_unique = dt.unique(data_unique['product'])
product_unique

**Exercise 30: Select first row of each user from `data` and assign it to `data_first`**

In [16]:
data_first = data[:1, :, dt.by(dt.f.user)]
data_first

<center>
    âœ… This completes Set 3: Data Selection (Exercises 21-30) of <b>DatatableTon</b>: <i>ðŸ’¯ datatable exercises</i>
    <br>
    Set 4 is coming soon!
    <br>
    <br>
    You can find all the exercises and solutions on <a href="https://github.com/vopani/datatableton#exercises-">GitHub</a>
</center>