<center>
    <h1>DatatableTon</h1>
    ðŸ’¯ datatable exercises
    <br>
    <br>
    <a href='https://github.com/vopani/datatableton/blob/master/LICENSE'>
        <img src='https://img.shields.io/badge/license-Apache%202.0-blue.svg?logo=apache'>
    </a>
    <a href='https://github.com/vopani/datatableton'>
        <img src='https://img.shields.io/github/stars/vopani/datatableton?color=yellowgreen&logo=github'>
    </a>
    <a href='https://twitter.com/vopani'>
        <img src='https://img.shields.io/twitter/follow/vopani'>
    </a>
</center>

<center>
    This is Set 4: Frame Operations (Exercises 31-40) of <b>DatatableTon</b>: <i>ðŸ’¯ datatable exercises</i>
    <br>
    You can find all the exercises and solutions on <a href="https://github.com/vopani/datatableton#exercises-">GitHub</a>
</center>

**Prerequisites**
* The `datatable` package should be upgraded to the latest version (or v1.0.0+).
* The sample dataset [titanic](https://www.openml.org/d/40945) from openml will be used for the exercises.

In [1]:
!python3 -m pip install -U pip
!python3 -m pip install -U datatable
!wget https://www.openml.org/data/get_csv/16826755/titanic.csv

Requirement already satisfied: pip in /opt/conda/lib/python3.7/site-packages (21.1.2)
Collecting pip
  Downloading pip-21.1.3-py3-none-any.whl (1.5 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1.5 MB 1.2 MB/s
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 21.1.2
    Uninstalling pip-21.1.2:
      Successfully uninstalled pip-21.1.2
Successfully installed pip-21.1.3
WARNING: Running pip as root will break packages and permissions. You should install packages reliably by using venv: https://pip.pypa.io/warnings/venv
Requirement already satisfied: datatable in /opt/conda/lib/python3.7/site-packages (1.0.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
--2021-07-15 18:25:14--  https://www.openml.org/data/get_csv/16826755/titanic.csv
Resolving www.openml.org (www.openml.org)... 131.155.11.11
Connecting to www.openml.org (www.openml.org)|131.155.11.11|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/plain]
Saving to: â€˜titanic.csvâ€™

titanic.csv             [  <=>               ] 114.98K   282KB/s    in 0.4s

2021-07-15 18:25:15 (282 KB/s) - â€˜titanic.csvâ€™ saved [117743]

In [2]:
import datatable as dt

data = dt.fread('titanic.csv')
data.head()

**Exercise 31: Print all the column names and column types of `data` in `column-name : column-type` format**

In [3]:
for i in range(data.ncols):
    print(f'{data.names[i]} : {data.types[i].name}')

pclass : int32
survived : bool8
name : str32
sex : str32
age : str32
sibsp : int32
parch : int32
ticket : str32
fare : str32
cabin : str32
embarked : str32
boat : str32
body : str32
home.dest : str32

**Exercise 32: Convert the type of column `age` in `data` from `str32` to `float`**

In [4]:
data['age'] = dt.as_type(dt.f.age, float)
data['age'].types[0].name

'float64'

**Exercise 33: Rename the column `home.dest` in `data` to `address`**

In [5]:
data.names = {'home.dest': 'address'}
data.names

('pclass',
 'survived',
 'name',
 'sex',
 'age',
 'sibsp',
 'parch',
 'ticket',
 'fare',
 'cabin',
 'embarked',
 'boat',
 'body',
 'address')

**Exercise 34: Sort `data` in descending order of `fare`**

In [6]:
data = data.sort(-dt.as_type(dt.f.fare, float))
data.head()

**Exercise 35: Create a column `deck` in `data` containing only the first character of `cabin`**

In [7]:
data['deck'] = dt.str.slice(dt.f.cabin, None, 1)
data.head()

**Exercise 36: Create a column `family` in `data` which is the sum of two columns `sibsp` and `parch`**

In [8]:
data['family'] = dt.f.sibsp + dt.f.parch
data.head()

**Exercise 37: Create a column `total_passengers` in `data` which is the sum of `family` and the passenger included and round the values of column `age` in `data` to the nearest integer, both together using a single inplace operation**

In [9]:
data[:, dt.update(total_passengers = dt.f.family + 1, age = dt.math.round(dt.f.age))]
data.head()

**Exercise 38: Delete the used columns `sibsp` and `parch` and the outlier rows first and last from `data`**

In [10]:
del data[:, ['sibsp', 'parch']]
data.head()

In [11]:
del data[[0, -1], :]
data.head()

**Exercise 39: Replace all `'?'` values with `NA` or `null` as missing values in `data`**

In [12]:
data.replace('?', None)
data.head()

**Exercise 40: Impute all the missing values in `data` with `-1` for numeric columns and `'unknown'` for string columns**

In [13]:
data.replace({dt.math.nan: -1.0, None: 'unknown'})
data.head()

âœ… This completes Set 4: Frame Operations (Exercises 31-40) of **DatatableTon**: *ðŸ’¯ datatable exercises*

#### Set 05 â€¢ Column Aggregations â€¢ Beginner â€¢ Exercises 41-50

| Style | Colab | Kaggle | Binder | GitHub |
| ----- | ----- | ------ | ------ | ------ |
| Exercises | [![Open in Colab](https://img.shields.io/static/v1?label=&message=Open%20in%20Colab&labelColor=grey&color=blue&logo=google-colab)](https://colab.research.google.com/github/vopani/datatableton/blob/main/notebooks/05_column_aggregations_exercises.ipynb) | [![Open in Kaggle](https://img.shields.io/static/v1?label=&message=Open%20in%20Kaggle&labelColor=grey&color=blue&logo=kaggle)](https://www.kaggle.com/rohanrao/datatableton-column-aggregations-exercises) | [![Open in Binder](https://img.shields.io/static/v1?label=&message=Open%20in%20Binder&labelColor=grey&color=blue&logo=)](https://mybinder.org/v2/gh/vopani/datatableton/main?filepath=notebooks%2F05_column_aggregations_exercises.ipynb) | [![Open in GitHub](https://img.shields.io/static/v1?label=&message=Open%20in%20GitHub&labelColor=grey&color=blue&logo=github)](https://github.com/vopani/datatableton/blob/main/notebooks/05_column_aggregations_exercises.ipynb) |
| Solutions | [![Open in Colab](https://img.shields.io/static/v1?label=&message=Open%20in%20Colab&labelColor=grey&color=blue&logo=google-colab)](https://colab.research.google.com/github/vopani/datatableton/blob/main/notebooks/05_column_aggregations_solutions.ipynb) | [![Open in Kaggle](https://img.shields.io/static/v1?label=&message=Open%20in%20Kaggle&labelColor=grey&color=blue&logo=kaggle)](https://www.kaggle.com/rohanrao/datatableton-column-aggregations-solutions) | [![Open in Binder](https://img.shields.io/static/v1?label=&message=Open%20in%20Binder&labelColor=grey&color=blue&logo=)](https://mybinder.org/v2/gh/vopani/datatableton/main?filepath=notebooks%2F05_column_aggregations_solutions.ipynb) | [![Open in GitHub](https://img.shields.io/static/v1?label=&message=Open%20in%20GitHub&labelColor=grey&color=blue&logo=github)](https://github.com/vopani/datatableton/blob/main/notebooks/05_column_aggregations_solutions.ipynb) |

You can find all the exercises and solutions on [GitHub](https://github.com/vopani/datatableton#exercises-)